@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root[data-theme="winter"] {
    --backgorund:  url(./img/maxresdefault.jpg);   
}

:root[data-theme="cloudy"] {
    --backgorund:  url(./img/3ab8425a3802236b3cc2a93a4963f9f0.jpeg);   
}
:root[data-theme="sunny"] {
    --backgorund:  url(./img/1614646844.jpg);   
}
:root[data-theme="rainy"] {
    --backgorund:  url(./img/cec204246ababc64907556e3bd2f55e2.jpg);   
}
:root[data-theme="wind"] {
    --backgorund:  url(./img/wind.jpg);   
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1320px;
    margin: 0 auto;
    padding: 0;
}

.header{
    background-image: var(--backgorund);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    
    &__all{
        display: flex;
        justify-content: space-between;
       
    }
    &__left{
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 40px 0 85px;
    }
    &__left-bottom{
        display: flex;
        align-items:center;
        gap: 15px;
        backdrop-filter: blur(19px);    
        background: rgba(255, 255, 255, 0.04);
        border-radius: 20px;
        padding: 5px;
    }
 
    &__left-degree{
        color: rgb(255, 255, 255);
        font-family: Roboto;
        font-size: 143px;
        font-weight: 400;
        line-height: 168px;
        text-align: left;
        text-shadow: 0 0 15px #141414;
    }
  
    &__left-city{
        color: rgb(255, 255, 255);
        font-family: Roboto;
        font-size: 60px;
        font-weight: 400;
        line-height: 70px;
        text-align: left;
        text-shadow: 0 0 15px #141414;
    }
    &__left-day{
        color: rgb(255, 255, 255);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        padding-top: 5px;
        text-shadow: 0 0 15px #141414;
    }
    &__left-weather{
        width: 150px;
        height: 150px;

   
    }
    &__right{
        width: 526px;
        height: 100vh;
        border-left: 5px solid rgba(255, 255, 255, 0.14);
        backdrop-filter: blur(19px);    
        background: rgba(255, 255, 255, 0.04);
        position: absolute;
        right: 0;
        overflow:auto;
        padding: 40px 35px 85px;
    }
    &__right-search{
        display: flex;
        padding: 15px 0;
        justify-content: space-between;
        border-bottom: 1px solid rgb(255, 255, 255);
    }
    & button{
        background: transparent;
        border: none;
        font-size: 28px;
        color: white;
        cursor: pointer;
        padding: 5px;
    }
    & input{
        color: rgba(255, 255, 255, 0.7);
        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        text-align: left;
        background:transparent;
        border: none;
        outline: none;
        text-shadow: 0 0 15px #141414;
        
    }
  

    &__right-details{
        padding: 40px 0 80px;
        border-bottom: 1px solid rgb(255, 255, 255);
        margin-bottom: 50px;
    }
    &__right-title{
        color: rgb(255, 255, 255);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        padding-bottom: 50px;
        text-shadow: 0 0 15px #141414;
    }

    &__right-box{
        display: flex;
        gap: 26px;
        padding-bottom: 35px;
    }
    &__right-temp{
        color: rgba(255, 255, 255, 0.7);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        width: 300px;
        text-shadow: 0 0 15px #141414;
    }
    &__right-info, &__right-icon{
        color: rgb(255, 255, 255);
        width: 40px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        text-shadow: 0 0 15px #141414;
    }
  

}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255);   
    &__left{
        display: flex;
        align-items: center;
        gap: 41px;
    }
    &__week-title{
        color: rgb(255, 255, 255);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        text-shadow: 0 0 15px #141414;
    }
    &__week-weather{
        color: rgba(255, 255, 255, 0.7);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        text-shadow: 0 0 15px #141414;
    }

    &__temp{
        color: rgba(255, 255, 255, 0.7);
        font-family: Roboto;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        text-align: right;
        text-shadow: 0 0 15px #141414;
    }
}



.load{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #141414;
}

.loader {
    width: 175px;
    height: 80px;
    display: block;
    margin: auto;
    background-image: radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), radial-gradient(circle 50px at 50px 50px, #FFF 100%, transparent 0), radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), linear-gradient(#FFF 50px, transparent 0);
    background-size: 50px 50px, 100px 76px, 50px 50px, 120px 40px;
    background-position: 0px 30px, 37px 0px, 122px 30px, 25px 40px;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
  }
  .loader::after {
    content: '';  
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20px;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-color: #FF3D00 transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  @media screen and (max-width:800px) {
   
    .container{
        width: 100%;
        margin: 0 auto;
        padding: 0  20px ;
    }

    .header{
        width: 100%;
        height: 100vh;
        

        &__all{
            display: flex;
            flex-direction: column; 

        }
        &__left{
            display: flex;
            width: 100%;
            height: 100%;
            gap: 102px;
        }
        &__left-img{
            width: 42px;
        }
        &__left-degree{
            color: rgb(255, 255, 255);
            font-family: Roboto;
            font-size: 64px;
            font-weight: 400;
            line-height: 75px;
            letter-spacing: -8%;
            text-align: left;
        }
     
        &__left-city{
            color: rgb(255, 255, 255);
            font-family: Roboto;
            font-size: 30px;
            font-weight: 400;
            line-height: 35px;
            text-align: left;
        }
        &__left-day{
            color: rgb(255, 255, 255);
            font-family: Roboto;
            font-size: 10px;
            font-weight: 400;
            line-height: 12px;
            text-align: left;
        }
        &__left-weather{
            width: 100px;
            height: 100px;
        }
        &__right{
            width: 100%;
            height: 70vh;
            position: absolute;
            top: 247px;
            overflow: auto;
            border: none;
            margin-top: 50px;
            & input{
                color: rgba(255, 255, 255, 0.7);
                font-family: Roboto;
                font-size: 12px;
                font-weight: 400;
                line-height: 14px;
                text-align: left;
            }

            & button{
                font-size: 12px;
                padding: 5px;
            }
        }
        &__right-details{
            padding: 20px 0 30px;
            margin-bottom: 25px;
        }

        &__right-search{
            padding: 5px 0;
        }

        &__right-title{
            color: rgb(255, 255, 255);
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            text-align: center;
        }


        &__right-temp{
            color: rgba(255, 255, 255, 0.7);
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            text-align: left;
        }
        &__right-info, &__right-icon{
            color: rgb(255, 255, 255);
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            text-align: left;
        }

        .card{
         &__left-img{
            width: 80px;
         }
         &__week-title,&__week-weather,&__temp{
            color: rgb(255, 255, 255);
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            text-align: left;
        }
        }
    }
  }
